.login-page {
    height: calc(100vh - 70px); /* Restamos el navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: var(--shadow-md);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-icon-wrapper {
    background-color: #e0f2fe;
    color: var(--primary-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.login-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
    font-weight: 700;
}

.login-form .form-group {
    text-align: left;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color: var(--primary-hover);
}

.error-msg {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}